 <div class="row" id="itemlist">
{% for i in products %}

        {% csrf_token %}



                    <div class="col-sm-4 col-lg-4 col-md-4 item">
                        <div class="thumbnail">
                             {% load static %}
                            <img src="{% get_static_prefix %}images/medium/{{i.imagename}}.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ i.price }}<span class="glyphicon glyphicon-euro"></span></h4>
                                <h4>{{ i.product_name }}
                                </h4>
                                <p>{{i.description}}.</p>
                            </div>
                            <div class="ratings">
				<div class="container-fluid">
                    <div class="lead row input-group input-group-sm pull-left ">
                    <div id="stars-existing2" class="starrr" data-rating='{{i.stars}}'></div>
                    </div>
				<p class="input-group input-group-sm pull-right" style="width: 50%;">
					<input id="qnty-{{i.id}}" type="number" class="form-control input-sm" value="1" min="1"/>
					<span class="input-group-btn"><button  data-id='{{i.id}}' class="btn btn-sm addToCart" type="button"><span class="glyphicon glyphicon-shopping-cart"></span></button></span>
				</p>
				</div>
                            </div>
                        </div>
                    </div>
{% endfor %}







                </div>
         <script type="text/javascript">
        $(document).ready(function(){
            $(".addToCart").on("click",function(evt){
                evt.stopPropagation();
                evt.preventDefault();
                var itemId = $(evt.currentTarget).attr("data-id");
                    $.ajax({
                    type: "POST",
                    url: "/addToCart/",
                    dataType: "json",
                    async: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        itemID: itemId,
                        qnty: $("#qnty-"+$(evt.currentTarget).attr("data-id")).val()
                    },
                    success: function(json){
                        if (json.message == 'not ok') {
                                var alert = $('#alert-4');
                                var timeOut;
                                alert.appendTo('.page-alerts');
                                alert.slideDown();

                                //Is autoclosing alert
                                var delay = 3000;
                                if(delay != undefined)
                                {
                                    delay = parseInt(delay);
                                    clearTimeout(timeOut);
                                    timeOut = window.setTimeout(function() {
                                            alert.slideUp();
                                        }, delay);
                                }
                        }
                        else {

                                var alert = $('#alert-5');
                                var timeOut;
                                alert.appendTo('.page-alerts');
                                alert.slideDown();

                                //Is autoclosing alert
                                var delay = 3000;
                                if(delay != undefined)
                                {
                                    delay = parseInt(delay);
                                    clearTimeout(timeOut);
                                    timeOut = window.setTimeout(function() {
                                            alert.slideUp();
                                        }, delay);
                                }
                        }
                    }
                });
            });
	    });

var __slice = [].slice;

(function($, window) {
  var Starrr;

  Starrr = (function() {
    Starrr.prototype.defaults = {
      rating: void 0,
      numStars: 5,
      change: function(e, value) {}
    };

    function Starrr($el, options) {
      var i, _, _ref,
        _this = this;

      this.options = $.extend({}, this.defaults, options);
      this.$el = $el;
      _ref = this.defaults;
      for (i in _ref) {
        _ = _ref[i];
        if (this.$el.data(i) != null) {
          this.options[i] = this.$el.data(i);
        }
      }
      this.createStars();
      this.syncRating();
      this.$el.on('starrr:change', this.options.change);
    }

    Starrr.prototype.createStars = function() {
      var _i, _ref, _results;

      _results = [];
      for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
        _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
      }
      return _results;
    };

    Starrr.prototype.setRating = function(rating) {
      if (this.options.rating === rating) {
        rating = void 0;
      }
      this.options.rating = rating;
      this.syncRating();
      return this.$el.trigger('starrr:change', rating);
    };

    Starrr.prototype.syncRating = function(rating) {
      var i, _i, _j, _ref;

      rating || (rating = this.options.rating);
      if (rating) {
        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        }
      }
      if (rating && rating < 5) {
        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      }
      if (!rating) {
        return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
      }
    };

    return Starrr;

  })();
  return $.fn.extend({
    starrr: function() {
      var args, option;

      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      return this.each(function() {
        var data;

        data = $(this).data('star-rating');
        if (!data) {
          $(this).data('star-rating', (data = new Starrr($(this), option)));
        }
        if (typeof option === 'string') {
          return data[option].apply(data, args);
        }
      });
    }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {

  $('#stars').on('starrr:change', function(e, value){
    $('#count').html(value);
  });

  $('#stars-existing').on('starrr:change', function(e, value){
    $('#count-existing').html(value);
  });
});


        </script>