{% extends "base.html" %}
{%block main %}


<div id='output' class="master clearfix">
<div class="shop_area clearfix">
    <p class="product_list"> Product List</p>

    <div id="product-list">
        <input id="search_input" class="form-control " placeholder="Search"/>

        <ul class="list" id="search_list">
{% for i in products %}

        {% csrf_token %}
        <li data-corners="false"  onclick="escape_chars('{{i.product_name}}','{{i.price}}', '{{i.id}}')" class="ui-btn ui-li ui-btn-up-c">
            <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                    <a href="#" class="product ui-link-inherit">{{ i.product_name }}</a>
                    <a href="#" class="price ui-link-inherit">{{ i.price }}</a>
                </div>

            </div>
        </li>

{% endfor %}
           </ul>
     </div>

    </div>
        <div class="cart">
            <div class="wrapper">
            <div class="cart_content ui-content">Cart</div>
            </div>

            <a href="{% url 'checkout' %}" type="button" class="btn btn-primary btn-lg">
            Checkout
            </a>
            <div id="total" class="checkout_button">Total: 0 items</div>
            <div id="total_cost" class="checkout_button">Total cost: 0 euro</div>
        </div>
   </div>


<script type="text/javascript">

$( "#search_input").change(function(){
    var encodedStr = $('#search_input').val().replace(/[\u00A0-\u9999<>\&]/gim,function(i){
        return '&#'+i.charCodeAt(0)+';';
    });
    $.ajax({
            type: "POST",
            url: "/searchproduct/",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                search_input: encodedStr,
            },
            success: function(json){

             if ($('#search_input').val() )
              $('#search_list').html('Results matching the keyword : '+ encodedStr)
             else
                $('#search_list').html('')
              for (var i=0;i<json.array_length;i++){
                $('#search_list').append( '<li data-corners="false"  onclick="escape_chars('
                +'&quot;'+json.message[i][0]+'&quot;'+','+'&quot;'+json.message[i][1].toFixed(1) +'&quot;'+ ','+'&quot;'+json.message[i][2]+'&quot;'+ ')" class="ui-btn ui-li ui-btn-up-c">'
                +'<div class="ui-btn-inner ui-li">'
                +'<div class="ui-btn-text">'
                +'<a href="#" class="product ui-link-inherit">'+json.message[i][0]+'</a>'
                +'<a href="#" class="price ui-link-inherit">   '+json.message[i][1].toFixed(1)+'</a>'
                +'</div>'
                +'</div>')
                }
            }
        });
});


var search_input = [] ;
var total_cost=0;
var product_array = [];
var arrayJSON = [];
function escape_chars(product_name,product_price, product_id){
    product_name = product_name.replace(/[\u00A0-\u9999<>\&]/gim,function(i){
        return '&#'+i.charCodeAt(0)+';';
});
    product_price = product_price.replace(/[\u00A0-\u9999<>\&]/gim,function(i){
        return '&#'+i.charCodeAt(0)+';';
});
    product_id = product_id.replace(/[\u00A0-\u9999<>\&]/gim,function(i){
            return '&#'+i.charCodeAt(0)+';';
    });
    add2cart(product_name, product_price, product_id);
}
function add2cart(product_name,product_price, product_id){
    $(".cart_content:last").after("<div class='wrap_it clearfix'><p class='product_cart'>"+product_name+"</p>"+"<p class='product_cart'>"+product_price+"</p></div>");
    product_array.push( [product_name, product_price, product_id]);
    document.getElementById("total").innerHTML="Total: "+ product_array.length + " items";
    total_cost = total_cost + parseInt(product_array[product_array.length-1][1]);
    document.getElementById("total_cost").innerHTML="Total cost: "+ total_cost + " euro";
    arrayJSON = JSON.stringify(product_array);
    sessionStorage.setItem("tabledata",arrayJSON);
}
</script>
{% endblock %}

